<div class="container">
  <mat-card class="message-history">
    <app-message
      *ngFor="let message of messages$ | async"
      [rawMessage]="message"
    ></app-message>
  </mat-card>
  <mat-card class="prompt-box">
    <mat-form-field appearance="outline">
      <mat-label>Enter a prompt</mat-label>
      <textarea
        matInput
        [(ngModel)]="promptText"
        tabindex="0"
        (keydown.enter)="onEnterKeyDown($event)"
      ></textarea>
    </mat-form-field>
    <button mat-icon-button (click)="submitPrompt()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card>
</div>
