<div class="container" tabindex="0" (keydown)="onKeydown($event)">
  <mat-card class="chat-section">
    <mat-card class="message-history">
      <mat-card *ngFor="let message of messages$ | async">
        <mat-card-header>
          <mat-card-title>{{ message.role }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>{{ message.content }}</div>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <mat-card class="prompt-box">
      <mat-form-field appearance="outline">
        <mat-label>Enter a prompt</mat-label>
        <textarea matInput [(ngModel)]="promptText"></textarea>
      </mat-form-field>
      <button mat-icon-button (click)="submitPrompt()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card>
  </mat-card>
  <div class="model-selection">
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Filter Options</mat-label>
        <input
          type="search"
          autocomplete="off"
          matInput
          (change)="onSearchChange($event)"
        />
      </mat-form-field>
      <mat-selection-list
        [multiple]="false"
        *ngIf="filteredModels$ | async as models"
      >
        <mat-list-option
          *ngFor="let model of models; let i = index"
          (click)="onSelect(i)"
        >
          <h3 matLine>{{ model.id }}</h3>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
    <mat-card
      class="model-detail"
      *ngIf="selectedModel$ | async as selectedModel"
    >
      <mat-card-header>
        <mat-card-title>{{ selectedModel.id }}</mat-card-title>
        <mat-card-subtitle>{{
          selectedModel.created * 1000 | date
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Owned by: {{ selectedModel.owned_by }}</p>
        <pre>Permission: {{ selectedModel.permission | json }}</pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>
