.wrapper {
  position: relative;

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-form-field {
    width: 100%;
  }

  .edit-icon,
  .send-icon {
    cursor: pointer;
  }

  .options {
    display: none;
  }
}

.wrapper:hover .options {
  display: inline-block;
}

.user-message {
  background-color: #063a52;
}

.bot-message {
  background-color: #063e21;
}

.system-message {
  background-color: #45003f;
}
