<mat-card
  *ngIf="message as msg"
  class="wrapper"
  [ngClass]="{
    'user-message': msg.role === 'user',
    'bot-message': msg.role === 'assistant',
    'system-message': msg.role === 'system'
  }"
>
  <mat-card-header>
    <mat-card-title>
      {{ msg.role }}
    </mat-card-title>
    <div class="token-info">
      <span class="token-count">{{ msg.tokenCount }}</span>
    </div>
    <div class="options" *ngIf="!isEditing">
      <mat-icon class="edit-icon" (click)="isEditing = true"> edit </mat-icon>
      <mat-icon class="delete-icon" (click)="deleteMessage()">delete</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!isEditing">
      <ng-container *ngFor="let segment of msg.segments">
        <ng-container [ngSwitch]="segment.type">
          <pre *ngSwitchCase="'text'" [innerHtml]="segment.content"></pre>
          <pre *ngSwitchCase="'code'" class="code-block">
              <code  [highlight]="segment.content"></code>
          </pre>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isEditing">
      <mat-form-field appearance="outline">
        <mat-label>Enter a prompt</mat-label>
        <textarea matInput [(ngModel)]="rawContent"></textarea>
      </mat-form-field>
      <button mat-icon-button (click)="updateMessage()">
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
  </mat-card-content>
</mat-card>
