mat-toolbar {
  display: grid;
  grid-template-columns: 50px 1fr 50px;

  .header-text {
    max-width: calc(100vw - 100px);
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
