<mat-toolbar color="primary">
  <span class="left-nav">
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </span>
  <span
    (click)="onTitleClicked()"
    class="header-text"
    [ngStyle]="{ cursor: (isTitleClickable$ | async) ? 'pointer' : null }"
    >{{ headerText$ | async }}</span
  >
  <span class="right-nav">
    <button
      *ngIf="isThereOtherStuff$ | async"
      mat-icon-button
      (click)="onOtherStuffClicked()"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
  </span>
</mat-toolbar>
