<h2 mat-dialog-title>Thread Configuration</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title> API Configuration: </mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Model</mat-label>
      <mat-select [(value)]="threadConfig.model">
        <mat-option *ngFor="let model of models" [value]="model.value">
          {{ model.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="slider-wrapper">
      <mat-slider min="0" [max]="maxTokens">
        <mat-label>Max Tokens</mat-label>
        <input matSliderThumb [(ngModel)]="threadConfig.max_tokens" />
      </mat-slider>
      <span>{{ threadConfig.max_tokens }}</span>
    </div>
    <div class="slider-wrapper">
      <mat-slider min="0" max="2" step="0.1">
        <mat-label>Temperature</mat-label>
        <input matSliderThumb [(ngModel)]="threadConfig.temperature" />
      </mat-slider>
      <span>{{ threadConfig.temperature }}</span>
    </div>
    <div class="slider-wrapper">
      <mat-slider min="0" max="1" step="0.01">
        <mat-label>Top P</mat-label>
        <input matSliderThumb [(ngModel)]="threadConfig.top_p" />
      </mat-slider>
      <span>{{ threadConfig.top_p }}</span>
    </div>
    <div class="slider-wrapper">
      <mat-slider min="1" max="10" step="1">
        <mat-label>N</mat-label>
        <input matSliderThumb [(ngModel)]="threadConfig.n" />
      </mat-slider>
      <span>{{ threadConfig.n }}</span>
    </div>
    <div class="slider-wrapper">
      <mat-slider min="-2" max="2" step="0.1">
        <mat-label>Presence Penalty</mat-label>
        <input matSliderThumb [(ngModel)]="threadConfig.presence_penalty" />
      </mat-slider>
      <span>{{ threadConfig.presence_penalty }}</span>
    </div>
    <div class="slider-wrapper">
      <mat-slider min="-2" max="2" step="0.1">
        <mat-label>Frequency Penalty</mat-label>
        <input matSliderThumb [(ngModel)]="threadConfig.frequency_penalty" />
      </mat-slider>
      <span>{{ threadConfig.frequency_penalty }}</span>
    </div>
  </mat-card>
  <mat-card class="thread-prefs">
    <mat-card-header>
      <mat-card-title> Thread Preferences: </mat-card-title>
    </mat-card-header>
    <mat-checkbox [(ngModel)]="threadPrefs.shouldSendOnEnter"
      >Send on enter?</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="threadPrefs.shouldAutoSubmit"
      >Auto submit to AI?</mat-checkbox
    >
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</mat-dialog-actions>
