<mat-card class="container">
  <mat-card class="message-history" #messageHistory>
    <ng-container
      *ngFor="
        let message of messages$ | async;
        index as i;
        trackMessagesByContent
      "
    >
      <app-message
        [rawMessage]="message"
        (onMessageUpdate)="updateMessage($event)"
        (onMessageDelete)="deleteMessage($event)"
      ></app-message>
    </ng-container>
  </mat-card>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Enter a prompt</mat-label>
      <textarea
        matInput
        [(ngModel)]="promptText"
        tabindex="0"
        (keydown.enter)="onEnterKeyDown($event)"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="25"
      ></textarea>
    </mat-form-field>
    <div class="prompt-actions">
      <div class="prompt-actions-row">
        <button mat-icon-button color="accent" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="submitThread()">
          <mat-icon>send_and_archive</mat-icon>
        </button>
      </div>
      <div class="prompt-action-row">
        <button mat-icon-button (click)="renameThread()">
          <mat-icon>autorenew</mat-icon>
        </button>
        <span>{{ (metadata$ | async)?.tokenCount }}</span>
      </div>
    </div>
  </div>
</mat-card>
