<mat-card class="message-history" #messageHistory>
  <ng-container
    *ngFor="
      let message of messages$ | async;
      index as i;
      trackMessagesByContent
    "
  >
    <app-message
      [rawMessage]="message"
      (onMessageUpdate)="updateMessage($event)"
      (onMessageDelete)="deleteMessage($event)"
    ></app-message>
  </ng-container>

  <app-loading-message
    *ngIf="(metadata$ | async)?.isAiGenerating"
  ></app-loading-message>
  <app-error-message
    *ngIf="(metadata$ | async)?.wasLastResponseError"
    [threadId]="threadId"
  ></app-error-message>
</mat-card>
